{layout 'layout.latte'}

{block title}Registration Succcessful{/block}

{block content}
    <h1>Registration Successful</h1>
    <p>Thank you for signing up. You can new <a href="/login">log in</a>.</p>
{/block}